{% extends 'layout.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card card-shadow">
  <div class="card-body">
    <h2 class="card-title">Info</h2>
    <p class="card-text">
      App to handle CRUD operations for events with payment methods available.
      Allows 'owner' to manage events. Clients have its own interface to browse and
      book tickets available in system.
    </p>
  </div>
</div>

<div class="card card-shadow">
  <div class="card-body">
    <h2 class="card-title">Features</h2>
    <p class="card-text">Registration and account management system.</p>
    <p class="card-text">CRUD operations for events and tickets.</p>
    <p class="card-text">Ticket reservation within 15min period available.</p>
    <p class="card-text">Cart view with curent order summary.</p>
    <hr>
    <p class="card-text">Payment procedure and methods not available yet.</p>
    <p class="card-text">Cient statistics not available yet.</p>
    <p class="card-text">Order summary on email not available yet.</p>
  </div>
</div>

<div class="card card-shadow">
  <div class="card-body">
    <h2 class="card-title">Created by</h2>
    <p class="card-text">Artur Pietracha</p>
  </div>
</div>

{% endblock %}
