{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{ object.name }} |  <span class="text-muted">event details</span></strong>
        <span class="text-muted">Starts: {{ object.start_date|date:"D, d, M, Y" }}, Ends: {{ object.end_date|date:"D, d, M, Y" }}</span>
      </li>
  </ul>
</div>

  <div class="card card-shadow">
    <div class="card-header">
      <strong>Description</strong>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {% if object.description %}
            {{ object.description }}
          {% else %}
            No event description yet available.
          {% endif %}
        </li>
    </ul>
  </div>

  {% if object.eventseat_set.all %}
    <div class="card card-shadow">
      <div class="card-header">
        <strong>Tickets available</strong>
      </div>
      <ul class="list-group">
        {% for seat in object.eventseat_set.all %}
          <li class="list-group-item d-flex justify-content-between align-items-center">{{ seat.get_type_display }}
            <span class="form-inline">
              <span class="text-muted">Price: {{ seat.price }}</span>
              <span class="badge badge-primary badge-pill tab">{{ seat.tickets_available }}</span> /
              <span class="badge badge-primary badge-pill ">{{ seat.quantity }}</span>
              <form class="form-inline tab" method="post" action="{% url 'events:add-ticket' pk=seat.id %}" style="display:inline!important;">
                {% csrf_token %}
                <span class="form-inline">
                  <input type="hidden" name="event_id" value="{{ object.id }}">
                  {{ form.quantity|as_crispy_field }}
                  <button class="btn btn-success btn-sm tab" name="submit" value="submit" type="submit"><img class="light" src="{% static 'webfonts/shopping-cart-solid.svg' %}" width="20" height="20"> Add</button>
                </span>
              </form>
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}




{% endblock content %}
