{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{ object.name }} |  <span class="text-muted">event details</span></strong>
        <span class="text-muted">Starts: {{ object.start_date|date:"D, d, M, Y" }}, Ends: {{ object.end_date|date:"D, d, M, Y" }}</span>
      </li>
  </ul>
</div>

  <div class="card card-shadow">
    <div class="card-header">
      <strong>Description</strong>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {% if object.description %}
            {{ object.description }}
          {% else %}
            No event description yet available.
          {% endif %}
        </li>
    </ul>
  </div>

  {% if object.eventseat_set.all %}
    <div class="card card-shadow">
      <div class="card-header">
        <strong>Tickets available</strong>
      </div>
      <ul class="list-group">
        {% for ticket in object.eventseat_set.all %}
          <a class="list-group-item d-flex justify-content-between align-items-center" href="">{{ ticket.get_type_display }}
            <span>
              <span class="text-muted">Price: {{ ticket.price }}</span>
              <span class="badge badge-primary badge-pill">{{ ticket.quantity }}</span>
            </span>
          </a>
        {% endfor %}
      </ul>
    </div>
  {% endif %}




{% endblock content %}
